<template>
       <form @submit.prevent="submit">
                            <div class="flex space-x-4">
                                <div class="w-32">Name :</div>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="formChild.name"
                                        />
                            </div>
                            <div class="flex space-x-4">
                                <div class="w-32">quantity :</div>
                                    <input 
                                        type="text"
                                        class="input-custom"
                                        v-model="formChild.quantity"
                                        />
                            </div>
                            <div class="flex space-x-4">
                                <div class="w-32">Price :</div>
                                    <input 
                                        type="number" 
                                        class="input-custom"
                                        v-model="formChild.price"
                                        @input="CalculateAdminFee"
                                        />
                            </div>
                            <div class="flex space-x-4">
                                <div class="w-32">Admins Fee :</div>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="formChild.admin_fee"
                                        />
                            </div>
                            <div class="flex space-x-4">
                                    
                                    <button type="submit" class="primary-button">
                             {{ productChild ? 'Update' : 'Submit'}} productChild
                        </button>
                                    
                            </div>

                        </form>
</template>

<script>
import { Inertia } from '@inertiajs/inertia';

export default{
    props: {
        formChild: Object,
        productChild: Object,
        },
   
    methods:{
        CalculateAdminFee(){
            this.formChild.admin_fee = parseFloat(this.formChild.price) * 0.05;
        },
        submit(){
            if(this.productChild) Inertia.put("/product/" + this.productChild.id,this.formChild);
            else Inertia.post("/product",this.formChild);
        }
    },
    
};
</script>
