<template>
	<Head title="Dashboard" />

	<BreezeAuthenticatedLayout>
		<template #header>
			<h2 class="font-semibold text-xl text-gray-800 leading-tight">
				{{ peserta ? 'Update' : 'Create New!'}} peserta
			</h2>
		</template>

<div class="py-12">
			<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
             <form @submit.prevent="submit(form)">
				<div class="bg-white overflow-hidden shadow-sm sm:rounded-lg grid grid-cols-12">
					<div class="p-6 bg-white border-b border-gray-200 col-span-6 ">

						<div class="mb-3"><b>Identitas</b></div>
                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nomor KTP :</label>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        placeholder="Masukkan Nomor KTP Anda"
                                        v-model="form.no_ktp"
                                        />
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nama Lengkap :</label>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="form.nama"
                                    />
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Jenis Kelamin :</label>
                                <div class="flex ">
                                    <div class="flex items-center mr-4">
                                        <input id="inline-radio" type="radio" value="laki-laki" name="inline-radio-group" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" v-model="form.jenis_kelamin">
                                        <label for="inline-radio" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Laki-laki</label>
                                    </div>
                                        
                                    <div class="flex items-center mr-4">
                                        <input id="inline-2-radio" type="radio" value="perempuan" name="inline-radio-group" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" v-model="form.jenis_kelamin">
                                        <label for="inline-2-radio" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Perempuan</label>
                                    </div>

                                </div>
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Tempat Lahir :</label>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="form.tempat_lahir"
                                        />
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Tanggal Lahir :</label>
                                    <input 
                                        type="date" 
                                        class="input-custom"
                                        v-model="form.tgl_lahir"
                                        />
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Status Pernikahan:</label>
                                   <select id="small"  v-model="form.status_pernikahan" class="block p-2 mb-6 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    >
                                        <option value="kawin">Kawin</option>
                                        <option value="belum_kawin">Belum Kawin</option>
                                        <option value="duda">Duda</option>
                                        <option value="janda">Janda</option>
                                    </select>
                                    
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nomor HP :</label>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="form.no_hp"
                                        />
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">NPWP :</label>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        placeholder="Masukkan nomor NPWP"
                                        v-model="form.npwp"
                                        />
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Kewarganegaraan :</label>
                                    <select id="small" class="block p-2 mb-6 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    v-model="form.Kewarganegaraan">
                                        <option value="indonesia">Indonesia</option>
                                        <option value="non_indonesia">Non Indonesia</option>
                                    </select>
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Kelas :</label>
                                       <select id="small" class="block p-2 mb-6 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        v-model="form.kelas">
                                        <option value="kelas I">Kelas I</option>
                                        <option value="kelas II">Kelas II</option>
                                        <option value="kelas III">Kelas III</option>
                                    </select>
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email:</label>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        placeholder="masukkan email anda"
                                        v-model="form.email"
                                        />
                            </div>     

                            <Link class="" :href="route('peserta.index')" >
                                <button
                                        class="focus:outline-none text-white bg-yellow-600 hover:bg-yellow-700 focus:ring-4 focus:ring-yellow-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-yellow-600 dark:hover:bg-yellow-600 dark:focus:ring-yellow-700">
                                        Kembali
                                </button>  
                            </Link>
					</div>
                    

                        <div class="p-6 bg-white border-b border-gray-200 col-span-6">
						    <div class="mb-3"><b>Alamat</b></div>
                                  <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Alamat:</label>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="form.alamat"
                                        />
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">RT / RW :</label>
                                <div class="flex ">
                                    <div class="flex items-center mr-4">
                                        <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 w-10">RT:</label>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="form.rt"
                                        />
                                    </div>
                                        
                                    <div class="flex items-center mr-4">
                                       <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 w-10">RW:</label>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="form.rw"
                                        />
                                    </div>

                                </div>
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Kode Pos :</label>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="form.kode_pos"
                                        />
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">No. Telp Rumah :</label>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="form.no_telp_rumah"
                                        />
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Kelurahan / Desa:</label>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="form.Kelurahan"
                                        />
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nomor KK :</label>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="form.no_kk"
                                        />
                            </div>

                            <div class="mb-3"><b>Tambahan</b></div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Status Dalam Keluarga:</label>
                                   <select id="small" class="block p-2 mb-6 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   v-model="form.status_keluarga">
                                        <option value="kepala rumah tangga">Kepala Rumah Tangga</option>
                                        <option value="anak">Anak</option>
                                        <option value="istri">Istri</option>
                                        <option value="seorang diri">Seorang Diri</option>
                                    </select>
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Jumlah Anak :</label>
                                    <select id="small" class="block p-2 mb-6 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    v-model="form.jmlh_anak" :disabled="form.status_keluarga === 'seorang diri'">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="1">5</option>
                                        <option value="1">6</option>
                                    </select>
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Rekening :</label>
                                       <select id="small" class="block p-2 mb-6 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        v-model="form.rekening">
                                        <option selected>Pilih Rekening</option>
                                        <option value="BNI">BNI</option>
                                        <option value="BCA">BCA</option>
                                        <option value="BRI">BRI</option>
                                    </select>
                            </div>

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nomor Rekening:</label>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="form.no_rekening"
                                        />
                            </div>    

                            <div class="mb-3">
                                <label  for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nama Pemilik Rekening:</label>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="form.nama_pemilik_rekening"
                                        />
                            </div> 

                            <div class="flex justify-center"> 
                                <button type="submit" class="primary-button">
                                    {{ peserta ? 'Update' : 'submit'}} Peserta
                                </button> 
                            </div>
					    </div>
				    </div>
                </form>
			</div>
		</div>
	</BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import { Head } from "@inertiajs/inertia-vue3";
import { Inertia } from '@inertiajs/inertia';
import { Link } from "@inertiajs/inertia-vue3";
import FormProduct from "../Components/Product/Form.vue";

export default{

    updated() {
		var flash = this.$page.props.flash;
		if (flash?.message)
			Swal.fire({
				toast: true,
				position: "top-end",
				showConfirmButton: false,
				timer: 3000,
				timerProgressBar: true,
				icon: flash.type,
				title: flash.message,
			});
	},
    props: {peserta: Object},
    components: {BreezeAuthenticatedLayout,Head,FormProduct,Link},

    data(){
        return{
        form:{

        no_ktp:this.peserta?.no_ktp,
            nama:this.peserta?.nama,
            jenis_kelamin:this.peserta?.jenis_kelamin,
            tempat_lahir:this.peserta?.tempat_lahir,
            tgl_lahir:this.peserta?.tgl_lahir,
            status_pernikahan:this.peserta?.status_pernikahan,
            no_hp:this.peserta?.no_hp,
            npwp:this.peserta?.npwp,
            kewarganegaraan:this.peserta?.kewarganegaraan,
            kelas:this.peserta?.kelas,
            email:this.peserta?.email,
            alamat:this.peserta?.alamat,
            rt:this.peserta?.rt,
            rw:this.peserta?.rw,
            kode_pos:this.peserta?.kode_pos,
            no_telp_rumah:this.peserta?.no_telp_rumah,
            kelurahan:this.peserta?.kelurahan,
            no_kk:this.peserta?.no_kk,
            status_keluarga:this.peserta?.status_keluarga,
            jmlh_anak:this.peserta?.jmlh_anak,
            rekening:this.peserta?.rekening,
            no_rekening:this.peserta?.no_rekening,
            nama_pemilik_rekening:this.peserta?.nama_pemilik_rekening,
        },
        };
   
    },
    methods:{

        submit(form){
            // console.log(this.form)
            if(this.peserta) {
                Inertia.put(route("peserta.update", this.peserta.id), this.form, {
                    onSuccess: (res) => {
                        // console.log(res)
                    },
                    onError: (errors) => {
                        // console.log(errors)
                    },
                });
            }
            else {
                Inertia.post("/peserta",this.form);
            }
        }
        
    },
    
};
</script>
