<template>
	<Head title="Dashboard" />

	<BreezeAuthenticatedLayout>
		<template #header>
			<h2 class="font-semibold text-xl text-gray-800 leading-tight"> Peserta
			</h2>
		</template>

		<div class="py-12">
			<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <Link :href="route('peserta.create')" >
                <button type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-7 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 ">peserta Tambah</button>
            </Link>

            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Nomor KTP
                </th>
                <th scope="col" class="px-6 py-3">
                    Nama Lengkap
                </th>
                <th scope="col" class="px-6 py-3">
                    Jenis Kelamin
                </th>
                <th scope="col" class="px-6 py-3">
                    Tempat Lahir
                </th>
                <th scope="col" class="px-6 py-3">
                    Tanggal Lahir
                </th>
                <th scope="col" class="px-6 py-3">
                    Status Pernikahan
                </th>
                <th scope="col" class="px-6 py-3">
                    Nomor HP
                </th>
                <th scope="col" class="px-6 py-3">
                    NPWP
                </th>
                <th scope="col" class="px-6 py-3">
                    Kewarganegaraan
                </th>
                <th scope="col" class="px-6 py-3">
                    Kelas
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Alamat
                </th>
                <th scope="col" class="px-6 py-3">
                    RT
                </th>
                <th scope="col" class="px-6 py-3">
                    RW
                </th>
                <th scope="col" class="px-6 py-3">
                    Kode POS
                </th>
                <th scope="col" class="px-6 py-3">
                    No Telp Rumah
                </th>
                <th scope="col" class="px-6 py-3">
                    Kelurahan
                </th>
                <th scope="col" class="px-6 py-3">
                    Nomor Kartu Keluarga
                </th>
                <th scope="col" class="px-6 py-3">
                    Status dalam Keluarga
                </th>
                <th scope="col" class="px-6 py-3">
                    Jumlah Anak
                </th>
                <th scope="col" class="px-6 py-3">
                    Rekening
                </th>
                <th scope="col" class="px-6 py-3">
                    Nomor Rekening
                </th>
                <th scope="col" class="px-6 py-3">
                    Nama Pemilik Rekening
                </th>
                <th scope="col" class="px-6 py-3">
                    OPSI
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" v-for="pst in peserta" :key="peserta.id">
                
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap" >
                {{pst.id}}
                </th>

                <td class="px-6 py-4">
                {{pst.no_ktp}}
                </td>

                <td class="px-6 py-4">
                {{pst.nama}}
                </td>

                <td class="px-6 py-4">
                {{pst.jenis_kelamin}}
                </td>

                <td class="px-6 py-4">
                {{pst.tempat_lahir}}
                </td>

                <td class="px-6 py-4">
                {{pst.tgl_lahir}}
                </td>

                <td class="px-6 py-4">
                {{pst.status_pernikahan}}
                </td>

                <td class="px-6 py-4">
                {{pst.no_hp}}
                </td>

                <td class="px-6 py-4">
                {{pst.npwp}}
                </td>

                <td class="px-6 py-4">
                {{pst.kewarganagaraan}}
                </td>

                <td class="px-6 py-4">
                {{pst.kelas}}
                </td>

                <td class="px-6 py-4">
                {{pst.email}}
                </td>
                <td class="px-6 py-4">
                {{pst.alamat}}
                </td>

                <td class="px-6 py-4">
                {{pst.rt}}
                </td>

                <td class="px-6 py-4">
                {{pst.rw}}
                </td>

                <td class="px-6 py-4">
                {{pst.kode_pos}}
                </td>

                <td class="px-6 py-4">
                {{pst.no_telp_rumah}}
                </td>

                <td class="px-6 py-4">
                {{pst.kelurahan}}
                </td>

                <td class="px-6 py-4">
                {{pst.no_kk}}
                </td>
                
                <td class="px-6 py-4">
                {{pst.status_keluarga}}
                </td>

                <td class="px-6 py-4">
                {{pst.jmlh_anak}}
                </td>

                <td class="px-6 py-4">
                {{pst.rekening}}
                </td>

                <td class="px-6 py-4">
                {{pst.no_rekening}}
                </td>
                
                <td class="px-6 py-4">
                {{pst.nama_pemilik_rekening}}
                </td>

                <td class="px-6 py-4 text-right">

                 <Link :href="route('peserta.edit',pst.id)" >
					Edit
				</Link>
              
                <button @click="hapus(pst.id)" class="text-red-700">
                    Hapus
                </button>

              
                </td>
            </tr>

        </tbody>
    </table>
</div>
			</div>
		</div>
        
	</BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import { Head } from "@inertiajs/inertia-vue3";
import { Link } from "@inertiajs/inertia-vue3";
import { Inertia } from '@inertiajs/inertia';

export default{
    props: {peserta: Object},
    components: {BreezeAuthenticatedLayout,Head,Link},

    updated() {
		var flash = this.$page.props.flash;
		if (flash?.message)
			Swal.fire({
				toast: true,
				position: "top-end",
				showConfirmButton: false,
				timer: 6000,
				timerProgressBar: true,
				icon: flash.type,
				title: flash.message,
			});
	},


    methods: {

    hapus(id) {
            Swal.fire({
                title: 'Apakah kamu yakin?',
                text: "Menghapus data dengan id "+id+"",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'hapus'
            })
            .then((result) => {
                if (result.value) {
                    this.$inertia.delete(route("peserta.destroy", id))
                    .then(() => {
                        swal.fire(
                            'Hapus!',
                            'Data berhasil dihapus.',
                            'success',
                        )
                    })
                    .catch(() => {
                        swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Terjadi kesalahan',
                        })
                    });
                }
            })
        },


    },

};
</script>
