<template>
	<Head title="Dashboard" />

	<BreezeAuthenticatedLayout>
		<template #header>
			<h2 class="font-semibold text-xl text-gray-800 leading-tight">
				{{ product ? 'Update' : 'Create New!'}} Product
			</h2>
		</template>

		<div class="py-12">
			<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
				<div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
					<div class="p-6 bg-white border-b border-gray-200">
						
                        <form @submit.prevent="submit">
                        <!-- <FormProduct :formChild="form" :productChild="product"></FormProduct> -->
                            <div class="flex space-x-4">
                                <div class="w-32">Name :</div>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="form.name"
                                        />
                            </div>
                            <div class="flex space-x-4">
                                <div class="w-32">quantity :</div>
                                    <input 
                                        type="text"
                                        class="input-custom"
                                        v-model="form.quantity"
                                        />
                            </div>
                            <div class="flex space-x-4">
                                <div class="w-32">Price :</div>
                                    <input 
                                        type="number" 
                                        class="input-custom"
                                        v-model="form.price"
                                        @input="CalculateAdminFee"
                                        />
                            </div>
                            <div class="flex space-x-4">
                                <div class="w-32">Admisn Fee :</div>
                                    <input 
                                        type="text" 
                                        class="input-custom"
                                        v-model="form.admin_fee"
                                        />
                            </div>

                            <div class="flex space-x-4"> 
                                <button type="submit" class="primary-button">
                                    {{ product ? 'Update' : 'Submit'}} Product
                                </button> 
                            </div>

                        </form>

					</div>
				</div>
			</div>
		</div>
	</BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import { Head } from "@inertiajs/inertia-vue3";
import { Inertia } from '@inertiajs/inertia';
import FormProduct from "../Components/Product/Form.vue";

export default{
    props: {product: Object},
    components: {BreezeAuthenticatedLayout,Head,FormProduct},

    data(){
        return{
        form:{

         name:this.product?.name,
         quantity:this.product?.quantity,
         price:this.product?.price,
         admin_fee:this.product?.admin_fee,

        },
        };
   
    },
    	updated() {
		var flash = this.$page.props.flash;
		if (flash?.message)
			Swal.fire({
				toast: true,
				position: "top-end",
				showConfirmButton: false,
				timer: 3000,
				timerProgressBar: true,
				icon: flash.type,
				title: flash.message,
			});
	},
    methods:{
        CalculateAdminFee(){
            this.form.admin_fee = parseFloat(this.form.price) * 0.05;
        },
        submit(){
            if(this.product) Inertia.put("/product/" + this.product.id,this.form);
            else Inertia.post("/product",this.form);
        }
    },
    
};
</script>
