@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-button {
  @apply hover:bg-blue-400
  items-center
  rounded-md
  bg-blue-500
  text-white text-sm
  font-medium
  px-2
  py-1
  shadow-sm;
}

.input-form {
  @apply bg-gray-200 disabled:bg-red-100 bg-opacity-50 shadow-inner px-2 py-1 rounded;
}

.input-custom{
  @apply 
  block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}